
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>
<div class="text-center">
    <h1 class="text-center">Access Denied</h1>
    <h6 class="text-danger">You Do Not Have Permission To View This Resource</h6>
    <img src="~/images/Access Denide.jpg" style="height:300px;width:300px"/>

</div>
