
@{
    ViewData["Title"] = "AccountLocked";
}

<h1 class="text-danger">Your Account is locked pls  try agein sometime or you may  
    <a asp-action="ForgotPassword" asp-controller="Account">
        reset Your Pssword By Clicking Here
    </a>
    </h1>

